*{
    margin:0;
    padding: 0;
}

header{
    text-align: center;
    height: 50px;
    color: white;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100vw;
}

div{
    color: white;
    /* text-align: right; */
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
    position: fixed;
    right: 10px;
    bottom: 300px;
    background-image: url(p5.png);
    background-size: cover;
    height: 200px;
    width: 350px;
}

main{
    margin-top: 50px;
    font-size: 50px;
}